
.formDiv {
  margin: 10px;
}

.validInput {
  background-color: null;
}

.invalidInput {
  background-color: pink;
}

.center {
  text-align: center;
}

.underlined {
  text-decoration: underline;
}

.increasedLineHeight {
  line-height: 1.5;
}

.message {
  margin: 3px;
}

.parentLayer {
  font-weight: bold;
  font-size: 1.15em;
}

.leafLayer {
  font-style: italic;
}

/* reference: https://stackoverflow.com/questions/35353003/how-can-i-hide-tail-triangle-on-popup */
.tooltip {
  color: white;
  background-color: #262626;
  font-weight: bold;
}

#map {
  width: 100%;
  height: 600px;
  left: 0;
  top: 0;
}

#pageHeader {
  text-align: center;
  font-size: 12px;
}

#mapDescription {
  font-style: italic;
}

#sgmRadiusInput {
  width: 3.5em;
}

#pinSearchInput {
  width: 12em;
}