.formContainer {
  margin: 10px;
}

input:valid {
  background-color: null;
}

input:invalid {
  background-color: pink;
}

.successMessage {
  color: green;
}

.failureMessage {
  color: red;
}

.center {
  text-align: center;
}

.underlined {
  text-decoration: underline;
}

.increasedLineHeight {
  line-height: 1.5;
}

button {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.parentLayer {
  font-weight: bold;
  font-size: 1.15em;
}

.bolded {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.leafLayer {
  font-style: italic;
}

.radiusInput {
  width: 3.5em;
}

/* reference: https://leafletjs.com/examples/choropleth/ */
.legend {
  padding: 6px 8px;
  background: rgba(255,255,255);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 0.5px solid rgb(78, 78, 78, 0.7);
}

/* reference: https://leafletjs.com/examples/choropleth/ */
.legend header {
  margin: 0 0 5px;
  font-size: 1.15em;
  font-weight: bold;
  text-align: center;
}

/* reference: https://leafletjs.com/examples/choropleth/ */
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  opacity: 1;  
}

.darkTooltip {
  color: white;
  background-color: #262626;
  font-weight: bold;
}

.leaflet-popup-content .dataToDisplayLabel {
  font-weight: bold;
}

#map {
  display: flex;
  width: 100%;
  height: 75vh;/*600px;*/
  left: 0;
  top: 0;
}

#loadingIcon {
  display: block;
  margin: auto;
  width: 50%;
}

#pageHeader {
  text-align: center;
  font-size: 12px;
}

#mapDescription {
  font-style: italic;
}

#pinSearchInput {
  width: 12em;
}

/* based on https://www.digitalocean.com/community/tutorials/react-tabs-component (joshtronic and christinagorton, CC BY-NC-SA 4.0 license) */
.tabList {
  border-bottom: 2px solid #ccc;
  padding-left: 0;
}

/* based on https://www.digitalocean.com/community/tutorials/react-tabs-component (joshtronic and christinagorton, CC BY-NC-SA 4.0 license) */
.tabListItem {
  display: inline-block;
  list-style: none;
  margin-bottom: -2px;
  padding: 0.5rem 0.75rem;
  font-size: 1.05em;
}

/* based on https://www.digitalocean.com/community/tutorials/react-tabs-component (joshtronic and christinagorton, CC BY-NC-SA 4.0 license) */
.tabListItem.activeTab {
  background-color: white;
  border: solid #ccc;
  border-width: 2px 2px 0 2px;
}

table {
  width: 100%;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

table caption {
  font-weight: bold;
  font-size: 1.15em;
  margin: 5px;
}

th, td {
  padding: 5px;
}

th {
  text-align: center;
  font-weight: bold;
  font-size: 1.05em;
}

td {
  text-align: left;
  vertical-align: middle;
  min-width: 100px;
  max-width: 800px;
  width: auto;
}

td ul, .markerClusterPopupContent ul {
  list-style-position: outside;
  padding-left: 20px;
}
