.leaflet-control-defaultextent {

}

.leaflet-control-defaultextent-toggle {
  text-indent: -9999px;
  white-space: nowrap;
  background-image: url('leaflet.defaultextent.png');
  width: 26px;
  height: 26px;
  display: block;
}

/* Begin CSS added by Claire Wagner */
.leaflet-control-defaultextent-contents {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
  border: 2px solid rgba(0,0,0,0.2);
}
/* End CSS added by Claire Wagner */

/* CSS for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .leaflet-control-defaultextent-toggle {
        background-image: url('leaflet.defaultextent@2X.png');
        background-size: 26px 26px;
        background-repeat: no-repeat;
    }
}
